<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="librasteclado.qualhato.tecladolibras">

    <!-- Permissão necessaria para ativar a vibracao -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Permissão necessaria para sugestões de palavras -->
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />

    <!--Permissão necessaria para obter internet-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".introducao.Introducao"
            android:theme="@style/Theme.Intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".atividades.MainActivity" />

        <service
            android:name=".MetodoEntradaTeclado"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

        <activity android:name=".atividades.Ajustes" />
        <activity android:name=".atividades.Sobre"></activity>
    </application>

</manifest>